{% extends "base.html" %}
{% block content %}


<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Welcome to Venue Zen</h1>
        <p>Venue Zen is here to help people find all the information they need to book the next great event. Find all the features you need to satisfy your guests, and get inside information on the venue's policies. Once you find the venues that match your interests, receive a quote from all at once!</p>
        <p><a class="btn btn-primary btn-large">Call to action!</a>
        </p>
    </header>

    <hr>

    {% include "product_iterator.html" %}
</div>

{% endblock %}
