{% extends "base.html" %}

{% block content %}

 <!-- MAIN CONTENT -->
        <section class="slice no-padding bb">
        <div class="wp-section">
            <div class="container-fluid no-padding">
                <div class="row">
                    <div class="col-md-12">
                        <!-- JumboTron -->
                        <div class="jumbotron">
                            <div class="jumbotron-left">
                                <div id="homepageCarousel" class="carousel carousel-1 carousel-fixed-height slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        
                                        <div class="item item-dark active carousel-background">
                                            <div class="mask mask-1"></div>  
                                            <div class="container">
                                                <div class="description-left">
                                                    <span class="title c-white text-uppercase strong-700">Find a Venue. Keep your Zen.</span>
                                        
                                                    <ul class="list-carousel mb-20">
                                                        <li><i class="fa fa-check-square"></i> Enter your event Info</li>
                                                        <li><i class="fa fa-check-square"></i> Receive Price and Service Quotes</li>
                                                        <li><i class="fa fa-check-square"></i> Comparre your favorites</li>
                                                       
                                                    </ul>
                                                    <a href="#" class="btn btn-lg btn-white btn-icon fa-search">
                                                        <span>Find Venues Now</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                        <div class="item item-light carousel-inner-background">
                                            <div class="mask mask-1"></div>  
                                            <div class="container">
                                                <div class="description-left">
                                                    <span class="title c-white text-uppercase strong-700">Tour All of Austin's Greatest Venues</span>
                                                    <span class="subtitle-sm">You don't even have to leave your house.</span>
                                                      <a href="#" class="btn btn-lg btn-white btn-icon fa-search">
                                                        <span>Find Venues Now</span>
                                                    </a>
        
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                    
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right carousel-control" href="#homepageCarousel" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>     
                                </div>
                            </div>
                            <div class="jumbotron-right">
                                <!-- FIND property list WIDGET -->
                                <div class="panel panel-base no-margin">
                                    <div class="panel-heading panel-heading-lg">Find a Venue</div>
                                    <form class="form-base" role="form">
                                        <div class="panel-body" style="padding:25px;">
                                        
                                            <div class="form-group">
                                                <input type="text" class="form-control input-lg" placeholder="I am planning a ...">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg field_select">
                                                        <label class="">Guest Count</label>
                                                        <input class="form-control select_styled base no-padding">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg field_select">
                                                        <label class="">Budget</label>
                                                        <select class="form-control select_styled base no-padding">
                                                            <option value="1">$</option>
                                                            <option value="2">$$</option>
                                                            <option value="3">$$$</option>
                                                            <option value="4">$$$$</option>
                                                            <option value="4">$$$$$$</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg field_select">
                                                        <label class="">Type</label>
                                                        <select class="form-control select_styled base no-padding">
                                                            <option value="1">Indoor</option>
                                                            <option value="2">Outdoor</option>
                                                            <option value="3">Both</option>
                                                            <option value="3">No Preference</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-lg field_select">
                                                        <label class="">Catering Required</label>
                                                        <select class="form-control select_styled base no-padding">
                                                            <option value="1">Yes</option>
                                                            <option value="2">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/estate-listing-1.html">
                                        <button type="submit" class="btn btn-xl btn-block-bm btn-alt btn-icon btn-icon-right btn-icon-go btn-square">
                                            <span>Start searching</span>
                                        </button>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <section class="slice bg-base">
        <div class="wp-section">
            <div class="container">
                            <!-- Indicators -->
          <!--                   <ol class="carousel-indicators">
                                <li data-target="#carouselTestimonial" data-slide-to="0" class=""></li>
                                <li data-target="#carouselTestimonial" data-slide-to="1" class="active"></li>
                                <li data-target="#carouselTestimonial" data-slide-to="2" class=""></li>
                            </ol> -->

                            <!-- Wrapper for slides -->
                                    <div class="text-center">
                                        <h1>How to Book a Venue while Staying Zen</h1>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="icon-block icon-block-1">
                                                        <div class="icon-block-item">
                                                            <i class="fa fa-search"></i>
                                                        </div>
                                                        <div class="icon-block-body">
                                                            <h4 class="c-white">Browse Venues</h4>
                                                            <p>Search our listings to learn venue information and offerings</p>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="icon-block icon-block-2">
                                                        <div class="icon-block-item">
                                                            <i class="fa  fa-question-circle"></i>
                                                        </div>
                                                        <div class="icon-block-body">
                                                            <h4 class="c-white">Compare Proposals</h4>
                                                            <p>Save time by entering your event info just once and requesting as many proposals as you like.</p>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="icon-block icon-block-3">
                                                        <div class="icon-block-item">
                                                            <i class="fa fa-smile-o"></i>
                                                        </div>
                                                        <div class="icon-block-body">
                                                            <h4 class="c-white">Book Your Venue</h4>
                                                            <p>We help you find and book the perfect venue for your event.</p>
                                                        </div>
                                                </div>
                                            </div>   
                                        </div>
                                        <span class="clearfix"></span>
                                
            </div>
        </div>
    </section>

{% endblock %}